@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$black-invert: #fff

//Softcube base schema

$menu-fontsize: 20px
$menu-line-height: 25px
$sub-menu-color: rgba(255, 255, 255, 0.6)
$sub-menu-fontsize: 16px
$sub-menu-line-height: 20px
$main-schem-color-back: linear-gradient(180deg, #151726 5.21%, #0D1549 38.02%, #121527 80.73%)

$color-yellow: #FED300
$color-white: #ffffff

$primary: $black
$primary-invert: $black-invert
$body-color: #12122F
$black: #212121

body
  background: $main-schem-color-back
  font-family: Source Sans Pro
  min-height: 100vh
  cursor: default

ul
  display: flex
  align-items: flex-start
  flex-wrap: nowrap
  flex-direction: row

.h1-title
  color: $color-white!important
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 52px
  line-height: 65px
  text-align: center
  letter-spacing: 0.02em
  text-transform: uppercase
  margin-top: 65px

.h2-subtitle
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 25px
  text-align: center
  letter-spacing: 0.02em
  color: rgba(255, 255, 255, 0.84)
  margin-top: 5px

.subNav
  margin-top: 112px

.color--yellow
  color: $color-yellow

.navbar
  background: transparent!important

.navbar .navbar-menu
  box-shadow: none!important

.navbar_item.footer:hover
  padding-top: 0
  margin-top: 0

.copyright:hover
  color: white
  cursor: pointer

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

//Blog Page
.post_column .BlogRollPosts
  padding-left: 12px
.post_column .BlogRollPosts .column.is-4
  padding: 0 28px 24px 0 !important

.is-for-mobile
  & p
    font-family: Source Sans Pro
    font-style: normal
    font-weight: normal
    font-size: 20px
    color: #212121
  & ul
    display: block
    & li
      list-style: circle
      margin-left: 20px
  & h2
    font-weight: bold
    font-size: 24px
    padding: 16px 0
  & h3
    font-weight: bold
    font-size: 20px
    padding: 16px 0
  & img
    margin: 16px 0
  & li
    font-family: Source Sans Pro
    font-style: normal
    font-weight: normal
    font-size: 20px
    color: #212121

.BlogRollRelated img
  margin: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.all-plans
  flex: 0 0 40%
  margin: 0 auto

.post-meta
  text-align: left

.IncludeContainer
  padding-bottom: 82px
  display: flex
  width: 534px
  flex-direction: column
  align-items: center

.IncludeContainer.p-bottom
  padding-bottom: 0

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

//Softcube base class

.mobile
  display: none !important

.navbar-burger
 color: white !important

.navbar-burger.is-active
  color: black !important
  z-index: 130

.section.Blog-Post
  padding: 0 !important

.navbar_item
  color: $color-white

.navbar_item
  margin-right: 56px

.column.is-4
  padding: 20px !important

.margin-top-0
  margin-top: 0 !important

.blog-list-item
  height: 370px
  overflow: hidden !important
  position: relative

.header.article
  display: block

.container
  padding: 0 115px

.navbar_item
  font-family: Source Sans Pro,sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 36px
  color: #ffffff
  opacity: 0.8
  display: flex
  align-items: center
  justify-content: center

  .notification a:not(.button):not(.dropdown-item)
    text-decoration: none

.navbar_item .icon
  color: $primary


.blog-list-item .featured-thumbnail
  flex-basis: 100%
  margin: 0
  display: block
  height: 170px
  overflow: hidden

.short-news-container
  padding: 14px
  position: relative
  height: 170px

.pagination-link
  color: $color-white

.pagination-link:hover,
.pagination-next:hover,
.pagination-previous:hover,
.navbar_item.footer:hover
  color: $color-yellow !important

.read-more-arrow.related
  color: $color-white !important

.content li + li
  margin-top: 0 !important

.read-more-arrow
  text-decoration: none !important
  font-size: 2em
  line-height: 0.7em
  text-align: right
  color: rgba(33, 33, 33, 0.82) !important

.read-more-arrow:hover
  color: $color-yellow !important

a.title.has-text-primary:hover
  text-decoration: underline !important

.activePage
  border-bottom: 4px solid $color-white
  font-weight: 900
  color: $color-white
  opacity: 1

.sub-nav .navbar_item,
.navbar_item.color--yellow
  background: transparent

.has-text-centered, .section-sub-nav
  display: flex
  align-items: center
  justify-content: center

.section-sub-nav
  height: 45px

.navbar_item:hover
  opacity: 1
  margin-top: 4px
  color: $color-white
  border-bottom: 4px solid $color-white
  background: transparent

.navbar_item.color--yellow
  color: $color-yellow
  margin-top: 4px
  border-bottom: 4px solid $color-yellow

.navbar_item.color--yellow.Sign.Up
  color: $color-yellow
  margin-top: 0
  border-bottom: 0
.navbar_item.color--yellow.Sign.Up:hover
  margin-top: 4px
  border-bottom: 4px solid $color-yellow

.navbar_item.color--yellow:hover
  opacity: 1
  background: transparent

.title.has-text-primary
  text-decoration: none !important
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 30px

.articl-footer
  position: absolute
  bottom: 0
  display: grid
  grid-template-columns: 228px 69px

.date
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  /* identical to box height */
  display: flex
  align-items: center
  color: rgba(33, 33, 33, 0.54)

.accordionPanel
  margin-bottom: 24px

.accordionPanel:last-of-type
  margin-bottom: 0

// Override for use of svg's from https://simpleicons.org/

.blog-list-item.is-featured, .container.white
  background: #fff !important

.blog-list-item.with_background
  background: #12122F !important
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25)
  max-height: 254px

.image_related
  height: 114px !important
  overflow: hidden

.image_related img
  min-width: 100% !important
  height: 100% !important
  width: auto !important
  max-width: inherit !important

.title_related
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 20px
  color: #FFFFFF !important
  text-decoration: none !important

.notification
  border-radius: 0 !important
  background-color: $color-white !important
  padding: 0 !important

.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor

.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

.section.index
  position: relative
  overflow-x: hidden
  padding: 0 0 27px 0
  margin-top: 82px

#navMenu
  height: 40px
  margin-top: 16px

.section.index.Posts
  margin-top: 56px

.navbar-item img.logo
  max-height: 100% !important
  /* position: fixed */
  /* left: 72px */
  /* top: 12px */
  width: 54px
.navbar-item.logo
  max-height: 100% !important
  position: absolute !important
  left: 72px !important
  top: 12px !important
  width: 54px !important
  padding: 0 !important

.title.post_title
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 32px
  line-height: 40px
  display: flex
  align-items: center
  text-transform: uppercase
  color: #212121
  padding-top: 26px
  text-decoration: none

.column.post_column
  max-width: 740px
  padding: 0
  margin: 32px auto
  display: block

.post_category
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: inline-flex
  align-items: center
  text-decoration-line: underline
  color: rgba(33, 33, 33, 0.8)

.post_related
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 32px
  line-height: 40px
  display: flex
  align-items: center
  text-transform: uppercase
  color: #212121

.title-try--white
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 32px
  line-height: 40px
  margin: 0 auto
  display: block
  align-items: center
  text-transform: uppercase
  color: #FFFFFF
  padding-left: 24px
  padding-right: 24px

.title-try--white.latest
  text-align: left
  display: block
  padding-bottom: 20px

.title-try--white.latest a
  color: #ffffff
  display: block
  text-align: right
  font-size: 16px
  float: right

.date.white
  color: $color-white !important

.short-news-container_related
  padding: 14px
  position: relative
  height: 115px

.articl-footer_related
  position: absolute
  bottom: 0
  display: grid
  grid-template-columns: 1fr 69px
  width: calc(100% - 24px)

.social a
  background: transparent !important
  padding: 0 !important
  border-radius: 0 !important
  margin: 0 !important
  width: inherit !important
  height: inherit !important

.social a img
  padding-bottom: 12px !important

.pagination
  width: fit-content !important
  margin: auto !important
  margin-top: 164px !important
  margin-bottom: 72px !important

.pagination-link, .pagination-next, .pagination-previous
  font-family: Roboto !important
  font-style: normal !important
  font-weight: normal !important
  font-size: 16px !important
  line-height: 19px !important
  /* identical to box height */
  color: #FFFFFF !important
  border: none !important
  border-radius: 0 !important

.pagination-previous
  order: 1 !important
.pagination-link
  order: 2 !important
.pagination-next
  order: 3 !important

.pagination-link.is-current
  background: #FED300 !important
  background-color: #FED300 !important
  border-color: #FED300 !important
  color: #fff !important
  font-family: Roboto !important
  font-style: normal !important
  font-weight: 900 !important
  font-size: 16px !important
  line-height: 19px !important
  /* identical to box height */
  color: #212121 !important

.content ul
  margin: 0 !important

.searchItem
  position: absolute
  bottom: 3px
  right: 0

.searchItem:active,
.searchItem:hover,
.searchItem:focus
  border: none !important
  outline: none !important

.searchItem img
  position: absolute
  left: 17px
  top: 14px

.searchInput
  background: rgba(255, 255, 255, 0.12)
  border: 1px solid rgba(255, 255, 255, 0.62)
  box-sizing: border-box
  border-radius: 60px
  width: 224px
  height: 42px
  padding-left: 44px
  padding-right: 10px
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: flex-end
  color: #FFFFFF
  outline: none !important

.searchInput::placeholder
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 37px
  display: flex
  align-items: flex-end
  color: rgba(255, 255, 255, 0.62)
  opacity: 0.6
  margin-top: 52px

.navbar_item.footer
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  text-decoration-line: underline
  color: #FFFFFF
  background: none
  border: none
  padding: 0 32px 0 0
  white-space: nowrap

.menu-list_footer
  display: flex

.copyright
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  color: #FFFFFF
  cursor: none
  padding-right: 162px
  white-space: nowrap

.column.social
  width: 48px
  display: flex
  flex-direction: column
  position: absolute
  top: 32px
  right: 60px
  &__mob
    display: flex
    flex-direction: row
    position: absolute
    top: -85px
    right: 0
    z-index: 140
  &__mob a
    margin-left: 8px

.column.social_footer
  width: 100px
  display: grid
  grid-template-columns: 51px 51px 51px
  padding: 19px

.social_footer img
  padding-top: 15px !important

.column.footer_grid
  display: grid !important
  grid-template-columns: 1fr 154px !important

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $black-invert
$menu-item-active-background-color:	$black-invert
$menu-list-border-left: 1px solid $black-invert
$menu-label-color: $white-ter

.container.header
  max-width: 100%
  padding: 0 72px 0 200px

footer .container, section .container
  max-width: 1078px
  padding: 0

.menu-label
  font-size: 1em !important
  text-align: left

.menu-list
  list-style: none !important
  text-align: left

.social
  padding: 2em

.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

.sub-nav
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  color: rgba(255, 255, 255, 0.6)

.sub-nav .navbar_item
  margin-right: 40px

.section-sub-nav
  display: flex
  flex-direction: row
  width: fit-content
  max-width: 1078px

.container.header.nav
  padding: 0
  max-width: 1078px

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033

.blog-list-item header
  display: flex
  margin-bottom: 1em

.blog-list-item .featured-thumbnail
  flex-basis: 35%
  /*margin: 0 1.5em 0 0*/

.catecory_background
  background: rgba(0, 0, 0, 0.72)
  width: fit-content
  height: 34px
  display: flex
  position: absolute
  top: 0
  left: 0
  padding: 8px 12px
  color: $color-white
  display: flex
  align-items: center
  justify-content: center

.columns.footer_grid
  width: 100%

footer section.menu
  display: flex
  align-items: stretch
  align-items: center
  justify-content: center

@media screen and (min-width: 1024px)
  .navbar
    min-height: 4.25rem !important

.container.white.s__width
  max-width: 1076px
  margin-top: 68px

@media screen and (min-width: 450px) and (max-width: 780px)
  .columns.footer_grid
    flex-direction: column
    flex-basis: 100%
    flex: 1
    width: calc(100% - 20px)

  .column.social_footer
    text-align: center
    order: 2
    width: 150px


//Pricing
.clients-say .arrow

.clients-say
  position: relative
  overflow-x: hidden
  padding: 20px 0 27px
  width: 100%
  max-width: 1627px

//industies
.template-no--active
  display: none

.active-industies
  border: none
  font-weight: bold
  color: $color-yellow

//index
.video-banner
  position: relative
  margin: 40px 0 0
  max-width: 1078px
  max-height: 420px
  overflow: hidden

.video-banner-bottom
  position: relative
  margin: 40px 0 0
  max-width: 1078px
  max-height: 420px
  overflow: hidden

.video-banner-bottom svg
  position: absolute
  min-width: 288px
  width: 288px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0 auto 42px 14px

.video-item__content_banner
  height: 420px
  width: auto
  max-width: fit-content

.automatic-creat
  text-align: left
  order: 1
  flex-basis: 448px
  margin-right: 30px

.automatic-creat--content
  width: 100%
  height: 150px

.automatic-creat-img
  order: 2
  flex-basis: 600px

.marketing-videos
  display: flex
  flex-wrap: wrap
  max-width: 1078px
  width: 1078px

.top-marketing--videos
  margin-top: 62px

.bottom-marketing--videos
  margin-top: 52px

.marketing-videos--content
  flex-grow: 1
  width: 33%
  height: auto
  text-align: center

.marketing-videos--content img
  max-width: 322px

.marketing-videos--title
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 30px
  text-align: center
  color: #FFFFFF
  display: block
  padding-top: 20px

.marketing-videos--text
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 600
  font-size: 20px
  line-height: 25px
  text-align: center
  color: rgba(255, 255, 255, 0.62)

.works-text--inner
  width: 332px
  height: inherit
  background: #12122F
  box-shadow: 10px 10px 20px rgba(8, 8, 22, 0.5), -10px -10px 20px rgba(28, 28, 72, 0.5)
  padding: 35px 14px 14px
  margin: -23px auto 0

.maximize-text--inner
  width: 332px
  height: 663px
  background: #12122F
  box-shadow: 10px 10px 20px rgba(8, 8, 22, 0.5), -10px -10px 20px rgba(28, 28, 72, 0.5)
  padding: 35px 14px 14px
  margin: -23px auto 0
  display: grid
  grid-template-rows: 303px 56px 183px 74px

.is-4--latest
  width: 25%
  flex: none
  padding: 20px

.SearchYourLink
  max-width: 1068px
  width: calc(100% - 20px)
  align-items: center
  display: flex
  flex-direction: column
  margin: 32px 0 0 0

//industries
.industries
  display: grid
  /* align-items: start */
  width: calc(100% - 72px)
  max-width: 1626px
  grid-template-columns: 300px 1fr
  margin-top: 72px

.nav-item--title
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 32px
  line-height: 40px
  color: rgba(255, 255, 255, 0.6)

.nav-item--title a
  color: rgba(255, 255, 255, 0.6)

.nav-item--title a:hover
  color: rgba(255, 255, 255, 1.0)

.templates-categories-menu
  display: block
  position: sticky
  height: 500px
  top: 86px

.template-directory-video-grid
  //width: calc(100% - 250px)
  display: grid
  margin-left: 76px
  flex-grow: 1

.sub-nav-left
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  color: rgba(255, 255, 255, 0.6)
  height: 40px

.responsive-grid
  display: flex

.grid
  /*background: #DDD*/
  -webkit-column-count: 4
  -moz-column-count: 4
  column-count: 4

.grid:after
  content: ''
  display: block
  clear: both

.grid-item
  position: relative
  margin-bottom: 24px

.video-item__content
  position: absolute
  z-index: 100
  width: 100%
  height: 100%
  border-radius: inherit
  display: flex
  //align-items: center
  text-align: center
  flex-direction: column
  justify-content: center
  align-items: flex-start

.video-item__content_video
  position: absolute
  top: 0
  left: 0
  padding-top: 0
  margin-top: 0
  flex-direction: column
  justify-content: center
  align-items: stretch

.template-video-item__overlay
  background-color: rgba(0,0,0,.4)
  transition: opacity .5s
  will-change: opacity
  //opacity: 0
  display: flex
  width: 100%
  height: 100%
  position: absolute

.opacity_null
  opacity: 0

.opacity_load__video
  opacity: 1

.industries-grid_column
  display: inline-block
  vertical-align: top
  padding-right: 24px

.navbar_item.footer
  margin-right: 0

.column.social_footer
  margin: auto
  padding: 0 0 0 112px

.column.back
  position: absolute
  left: 30px
  top: 30px

.column.BlogRollRelated
  padding: 0

.column.back a
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  color: rgba(33, 33, 33, 0.82)

.column.back a:hover
  color: $color-yellow

.column.back span
  padding-left: 12px

@media screen and (min-width: 780px) and (max-width: 1405px)
  .columns.footer_grid
    flex-direction: column
    flex-basis: 100%
    flex: 1
    width: calc(100% - 20px)

  .column.social_footer
    margin: auto
    text-align: center
    padding: 0 !important

@media screen and (min-width: 780px) and (max-width: 1130px)
  .container.white.s__width
    margin-right: 24px
    margin-left: 24px
    //TODO
  .mobile
    display: block !important
  #navBlog.navbar-menu.subNav.is-active
    padding: 127px 0
  #navBlog.navbar-menu
    top: 95px
  .navbar-menu.is-active
    display: block
  .navbar .navbar-menu
    box-shadow: none !important
  .navbar-menu
    background-color: #fff
    box-shadow: 0 8px 16px rgba(33, 33, 33, 0.1)
    padding: 3rem 0
    position: absolute
    width: 100%
    top: 0

@media (min-width: 1130px)
  .container.header.nav
    padding-left: 0 !important
    padding-right: 0 !important
  .searchItem
    right: 0 !important
    left: inherit !important
  .sub-nav .navbar_item
    margin-right: 35px !important

@media screen and (min-width: 450px) and (max-width: 1405px)
  .container
    padding: inherit

  ul.menu-list_footer, ul.section-sub-nav
    flex-wrap: wrap-reverse

  ul.menu-list_footer li
    display: block
    width: fit-content

  .copyright
    padding: 20px 162px 0 0

  .column.social_footer
    margin: auto
    padding: inherit

@media (min-width: 568px) and (max-width: 780px)
  .BlogPaginationPosts
    width: 100%

  .BlogPaginationPosts .is-parent.column.is-4
    display: inline-block
    width: calc(50% - 13px)

  .BlogPaginationPosts .is-parent.column.is-4:nth-of-type(odd)
    margin-right: 12px

  .BlogPaginationPosts .is-parent.column.is-4:nth-of-type(even)
    margin-left: 12px

  .IncludeContainer
    width: 334px

@import "~bulma"

// responsiveness
+tablet-only

  .clients-say
    width: 100%

  #navMenu
    height: inherit
    margin-top: inherit

  .blog-list-item .featured-thumbnail
    flex-basis: 50%

  .navbar-burger
    color: #fff

  .container
    padding: 10px 0

  .container.header
    max-width: 100%
    padding: inherit

  .columns
    margin-left: 10px
    margin-right: 10px

  .navbar-item.logo
    left: 12px !important
    top: 12px !important

  .section-sub-nav
    display: grid
    grid-template-columns: 1fr 1fr 1fr

  a.navbar_item
    cursor: pointer
    display: block
    margin: 0 auto

  .blog-list-item header
    display: block

  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 100%
    margin: 0 0 1em

  .articl-footer
    display: grid
    grid-template-columns: 1fr 69px
    width: calc(100% - 24px)

  .column.post_column
    padding: 0 20px

  ul.menu-list_footer, ul.section-sub-nav
    flex-wrap: wrap-reverse

  ul.menu-list_footer li
    display: block
    width: 100%

  .copyright
    padding: 20px 32px 0

  .column.social
    width: auto !important
    flex-direction: row !important
    top: 0 !important
    right: 10px !important

  #navMenu
    height: inherit
    margin-top: inherit

  //industries
  .grid
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3

  .template-video-item__overlay
    //display: none

  .container.header.nav
    padding-left: 0
    padding-right: 0

+tablet

  //industries
  @media screen and (max-width: 1023px)

    .column.social_footer
      margin: auto
      padding: inherit

    .industries
      display: block

    .navbar-burger--indusrties
      color: #4a4a4a
      cursor: pointer
      display: block
      height: 3.25rem
      position: relative
      width: 100%
      margin-left: auto

    .nav-item--title-mobile
      font-family: Source Sans Pro
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      text-align: center
      color: rgba(255, 255, 255, 0.6)

    .nav-item--title-mobile .link-menu
      color: rgba(255, 255, 255, 0.6)

    .nav--text-mobile
      font-family: Source Sans Pro
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 22px
      display: none
      align-items: center
      text-align: center
      color: #FED300

    .active-nav--text
      display: block

    .icon-triangl
      position: absolute
      right: calc(50% - 106px)
      top: 0

    .arrow-next-mobile
      margin-right: 24px

    .nav-left--mobile
      margin: 24px 0 14px 24px
      text-align: left
      border-bottom: 3px solid rgba(33, 33, 33, 0.08)
      padding-block-end: 24px

    .mobile
      display: block !important

    .SearchYourLink input
      width: 96%

    .template-directory-video-grid
      margin-top: 52px

  a.navbar_item.navbar_item--industies
    //width: 100%
    //margin-left: 10px
    //color: black

    .navbar_item.navbar_item--industies:hover
      color: black

  .template-directory-video-grid
    margin-left: 76px

  .grid
    -webkit-column-count: 4
    -moz-column-count: 4
    column-count: 4

  .template-video-item__overlay
    //display: none

  .section.index.Posts,
  .index.Blog
    padding-left: 24px
    padding-right: 24px

  .container.header.nav
    padding-left: 0
    padding-right: 0

  .index.Blog .navbar_item
    margin-right: 46px

  .BlogPaginationPosts
    display: flex
    flex-wrap: wrap
    flex: 50%

  .sub-nav .navbar_item
    margin-right: 24px

  .container.header.nav
    padding-right: 24px
    padding-left: 24px

  .searchItem
    left: calc(100% - 248px)

+mobile

  .column.social_footer
    margin: auto
    padding: inherit

  .column.social_footer
    margin: auto
    padding: 0

  .copyright
    display: block
    margin-top: 52px

  .mobile
    display: block !important

  .navbar-burger
    color: #fff

  .container
    padding: 10px 0

  .container.header
    max-width: 100%
    padding: inherit

  .columns
    margin-left: 10px
    margin-right: 10px

  .navbar-item.logo
    left: 12px !important
    top: 12px !important

  .index.Blog
    padding: 0 15px

  .section-sub-nav
    display: block

  a.navbar_item
    cursor: pointer
    display: block
    margin: 0 auto

  .blog-list-item header
    display: block

  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 100%
    margin: 0 0 1em

  .columns.is-multiline.BlogRollPosts, .column.BlogRollRelated
    margin-left: 0
    margin-right: 0
    padding-left: 0
    padding-right: 0

  .articl-footer, .articl-footer_related
    display: grid
    grid-template-columns: 1fr 1fr
    width: 91%
    padding-bottom: 14px

  .column.post_column
    padding: 0 0
    margin-left: -10px
    margin-right: -10px

  .is-for-mobile
    padding: 0 20px

  ul.menu-list_footer, ul.section-sub-nav
    flex-wrap: wrap-reverse

  ul.section-sub-nav.blog
    margin: auto

  ul.menu-list_footer li
    display: block
    width: 100%

  .copyright
    padding: 20px 32px 0 !important

  .column.social
    width: auto !important
    flex-direction: row !important
    top: 0 !important
    right: 10px !important

  .navbar-menu
    background-color: #000
    box-shadow: 0 8px 16px rgba(33, 33, 33, 0.1)
    padding: 3rem 0
    position: absolute
    width: 100%
    top: 0

  #navIndusries.navbar-menu
    top: 49px

  a.navbar_item:focus, a.navbar_item:focus-within, a.navbar_item:hover, a.navbar_item.is-active
    width: fit-content
    border-bottom: 4px #fff solid
    background: none

  .image_related img
    min-width: 100% !important
    height: auto !important
    width: auto !important
    max-width: inherit !important

  //industries
  .template-directory-video-grid
    width: 100% !important
    padding: 0 !important
    margin-left: 0 !important

  .grid-item
    display: inline-block
    list-style: none
    margin-bottom: 24px
    vertical-align: top
    position: relative

  .grid
    -webkit-column-count: 1
    -moz-column-count: 1
    column-count: 1

  .template-video-item__overlay
    display: none

  .industries
    display: block
    width: 100%

  .industries-grid_column
    padding-left: 24px

  .nav-item--title
    font-weight: bold
    font-size: 16px
    line-height: 20px
    padding-top: 62px

  .nav-item--title a
    margin: auto
    display: block
    text-align: center
    padding-top: 0

  .arrow-next-mobile
    margin-right: 24px

  .nav-left--mobile
    margin: 24px 0 14px 24px
    text-align: left
    border-bottom: 3px solid rgba(33, 33, 33, 0.08)
    padding-block-end: 24px

  a.navbar_item.navbar_item--industies
    width: 100%
    margin-left: 10px
    color: black

    .navbar_item.navbar_item--industies:hover
      color: black

  .active-industies
    border: none
    font-weight: bold

  //Pricing
  .clients-say .arrow
    display: none

  .clients-say
    width: 100%
    position: relative
    overflow-x: hidden
    padding: 20px 20px 27px

  //blog
  .title-try--white.latest
    text-align: center
    display: block
    padding-bottom: 20px

  .title-try--white.latest a
    color: #ffffff
    display: block
    text-align: center
    font-size: 16px
    float: inherit

  .read-more-arrow.like
    font-family: Source Sans Pro
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    float: right
    padding-right: 24px
    text-align: right
    color: rgba(255, 255, 255, 0.9) !important

  .subNav
    margin-top: 0

  .section-sub-nav
    height: inherit

  .navbar_item.color--yellow
    border-bottom: 4px solid #000

  .sub-nav--text
    color: white
    display: none
    display: flex
    width: fit-content
    align-items: center
    justify-content: center

  #navBlog .sub-nav
    margin-top: 30px

  #navBlog.navbar-menu
    top: 95px

  .navbar_item--text
    display: none

  .navbar_item--text.color--yellow
    display: block
    font-weight: bold
    padding-bottom: 45px
    font-size: 20px

  .navbar-burger-text
    padding-left: 24px
    padding-top: 45px
    display: flex

  .sub-nav--text.active-nav--text
    display: flex

  .icon-triangl.blog
    display: flex
    position: inherit
    padding-left: 12px
    padding-top: 12px

  .container.white.s__width
    margin-left: 24px
    margin-right: 24px

    //index
  .arrow
    display: none

  .video-banner
    position: relative
    margin: 40px auto
    max-width: calc(100% - 40px)
    max-height: 100%
    overflow: hidden
    display: grid
    grid-template-rows: 1fr 64px
    margin: 24px 0 0 0

  .marketing-videos.how .marketing-videos--content
    margin-bottom: 0

  .marketing-videos.how .marketing-videos--content.last .works-text--inner
    margin-bottom: 0

  .video-banner-bottom
    position: relative
    margin: 40px auto
    max-width: calc(100% - 40px)
    max-height: 100%
    overflow: hidden
    display: flex
    margin: 52px auto 0 auto

  .video-banner-bottom svg
    position: absolute
    min-width: 42px
    width: 42px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .video-banner--conteiner
    margin-bottom: 24px

  .video-item__content_banner
    height: auto
    width: 100%
    max-width: fit-content

  .SearchYourLink
    width: calc(100% - 20px)
    align-items: center
    display: flex
    flex-direction: column
    margin: 32px 0 0 0

  .automatic-creat
    text-align: center
    padding: 0 24px
    margin: 0 auto
    order: 2

  .automatic-creat svg
    display: block
    margin: auto

  .automatic-creat-img
    order: 1
    padding: 26px 26px 52px
    margin: auto

  .automatic-creat--content
    width: 100%
    height: auto
    padding-bottom: 62px

  .automatic-creat--content.last
    width: 100%
    height: auto
    padding-bottom: 0

  .marketing-videos
    width: 100%

  .marketing-videos--content
    width: calc(100% - 40px)
    margin-bottom: 52px

  .marketing-videos--content:last-of-type
    margin-bottom: 0

  .maximize-text--inner
    width: 332px
    height: fit-content
    background: #12122F
    box-shadow: 10px 10px 20px rgba(8, 8, 22, 0.5), -10px -10px 20px rgba(28, 28, 72, 0.5)
    padding: 35px 14px 14px
    margin: -23px auto 0
    display: grid
    grid-template-rows: 303px auto auto auto
    grid-auto-rows: auto

  .marketing-videos--title.is-paddigg-5
    padding-bottom: 5px

  .marketing-videos--content button
    margin: 52px 0 32px 0

  .marketing-videos--title
    padding-bottom: 0
  .marketing-videos--content:last-of-type .marketing-videos--title
    padding-bottom: 0

  .bottom-marketing--videos
    margin-top: 52px

  .works-text--inner
    margin: -36px auto 82px
    padding: 25px 10px 33px 10px

  .video-banner svg
    position: absolute
    min-width: 50px
    width: 50px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    .video-banner-bottom svg
    position: absolute
    min-width: 50px
    width: 50px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .section.index
    width: calc(100% - 48px)
    padding: 0
    margin: auto
    margin-top: 52px !important

  .section.Blog-Post .column.post_column
    margin-top: 52px !important

  .h1-title
    font-family: Source Sans Pro
    font-style: normal
    font-weight: 900
    font-size: 32px
    line-height: 40px
    text-align: center
    letter-spacing: 0.02em
    text-transform: uppercase
    color: #FFFFFF

  .navbar_item--text.posts
    padding-bottom: 0

  .navbar
    z-index: 130

  .navbar-menu
    background-color: #fff
    box-shadow: 0 8px 16px rgba(33, 33, 33, 0.1)
    padding: 3rem 0
    position: absolute
    width: 100%
    top: 0

  .navbar_item, .nav-item--title a
    color: #000

  .nav-item--title a
    font-family: Source Sans Pro
    font-style: normal
    font-weight: 900
    font-size: 32px
    line-height: 40px
    align-items: center
    text-align: center

  .navbar_item.color--yellow
    font-weight: bold
    color: #000

  .has-text-centered
    display: block

  .nav-item--title a:hover
    color: black

  .nav-item--title-mobile
    font-family: Source Sans Pro
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    color: rgba(255, 255, 255, 0.6)

  .nav-item--title-mobile .link-menu
    color: rgba(255, 255, 255, 0.6)

  .navbar-burger--indusrties
    color: #4a4a4a
    cursor: pointer
    display: block
    height: 3.25rem
    position: relative
    width: 100%
    margin-left: auto

  .icon-triangl
    position: absolute
    right: calc(50% - 106px)
    top: 0

  .nav--text-mobile
    font-family: Source Sans Pro
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 22px
    display: none
    align-items: center
    text-align: center
    color: #FED300

  .active-nav--text
    display: block

  .template-directory-video-grid
    margin-top: 52px

  .BlogPaginationPosts .column.is-4
    margin-left: 0
    margin-right: 0
    padding-left: 0 !important
    padding-right: 0 !important

  .post_related + .BlogRollPosts .column.is-4
    padding: 20px 0 !important

  .container.white.s__width
    margin-top: 0

  .columns.footer_grid
    flex-direction: column
    flex-basis: 100%
    flex: 1
    width: calc(100% - 20px)

  footer section.menu
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 100%
    flex-wrap: wrap

  .menu-list_footer.l-copyright
    order: 3
  .column.social_footer
    order: 2
    width: 150px
    text-align: center
    margin-top: 52px

  .menu-list_footer
    order: 1

  .navbar_item.footer
    padding: 14px
    font-family: Source Sans Pro
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 20px
    display: flex
    align-items: center
    text-align: center
    color: rgba(255, 255, 255, 0.7)
    text-decoration: none

  #navMenu
    height: inherit
    margin-top: inherit

  .IncludeContainer
    width: 320px
    padding-bottom: 62px

  .IncludeContainer.p-bottom
    width: 320px
    padding-bottom: 62px
  .IncludeContainer.p-bottom.last
    padding-bottom: 0

  .section.index.Posts
    margin-bottom: 112px

  .pagination
    width: fit-content !important
    margin: auto !important
    margin-top: 92px !important

  .read-more.like
    color: $color-white

  .searchInput
    background: rgba(255, 255, 255, 0.12)
    border: 1px solid rgba(255, 255, 255, 0.62)
    box-sizing: border-box
    border-radius: 50%
    width: 42px
    height: 42px
    padding-left: 0
    padding-right: 0
    font-family: Source Sans Pro
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 20px
    display: flex
    align-items: flex-end
    color: #FFFFFF
    outline: none !important

  .activeInput
    width: 152px
    height: 42px
    border-radius: 60px
    padding-left: 10px

  .activeInput + .search
    display: none

  .searchItem
    position: absolute
    bottom: -3px
    right: 30px

  .searchItem img
    position: absolute
    left: 14px
    top: 14px

  .searchInput::placeholder
    display: none

  .h2-subtitle
    padding: 0 24px

  .PlanCard:not(:last-of-type)
    padding-bottom: 72px

  .is-close
    display: none

  .is-close span
    left: calc(100% - 34px)

  .is-close span:nth-child(1)
    top: calc(50% + 39px)

  .is-close span:nth-child(3)
    top: calc(50% + 49px)

  .is-active .is-close
    display: block

  .blog-list-item
    height: inherit

  .title.has-text-primary
    font-family: Source Sans Pro
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    color: #212121

  .short-news-container
    height: 120px
    padding-top: 8px

  #navBlog.navbar-menu.subNav.is-active
    padding: 127px 0

  .navbar_item:hover
    color: black
    font-weight: bold

  .image_related
    height: 183px !important
    overflow: hidden

  .blog-list-item.with_background
    background: #12122F !important
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25)
    max-height: inherit

  .sub-nav .navbar_item
    margin-right: auto

  .mobile-all-posts
    position: absolute
    top: 38px
    right: 24px
    color: $color-white

    &:hover
      color: $color-yellow
