@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$black-invert: #fff

//Softcube base schema

$menu-fontsize: 20px
$menu-line-height: 25px
$sub-menu-color: rgba(255, 255, 255, 0.6)
$sub-menu-fontsize: 16px
$sub-menu-line-height: 20px
$main-schem-color-back: linear-gradient(180deg, #151726 5.21%, #0D1549 38.02%, #121527 80.73%)

$color-yellow: #FED300
$color-white: #ffffff

$primary: $black
$primary-invert: $black-invert
$body-color: #12122F
$black: #212121

body
  background: $main-schem-color-back
  font-family: Source Sans Pro

ul
  display: flex
  align-items: flex-start
  flex-wrap: nowrap
  flex-direction: row

.h1-title
  color: $color-white!important
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 52px
  line-height: 65px
  text-align: center
  letter-spacing: 0.02em
  text-transform: uppercase
  margin-top: 128px

.h2-subtitle
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 25px
  text-align: center
  letter-spacing: 0.02em
  color: rgba(255, 255, 255, 0.84)
  margin-top: 5px

.subNav
  margin-top: 112px

.color--yellow
  color: $color-yellow !important

.navbar
  background: transparent!important

.navbar .navbar-menu
  box-shadow: none!important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

//Softcube base class

.navbar-item.white
  color: $color-white !important
  margin: 0 32px

.column.is-4
  padding: 20px !important

.margin-top-0
  margin-top: 0 !important

.blog-list-item
  height: 370px !important
  overflow: hidden !important
  position: relative

.header.article
  display: block

.container
  padding: 0 115px

.navbar-item .icon
  color: $primary

.blog-list-item .featured-thumbnail
  flex-basis: 100% !important
  margin: 0 !important
  display: block !important
  height: 170px !important
  overflow: hidden !important

.short-news-container
  padding: 14px
  position: relative
  height: 170px

.read-more
  text-decoration: none !important
  font-size: 2em
  line-height: 0.7em
  text-align: right

[aria-current]
  border-bottom: 4px solid $color-white !important
  font-weight: 900 !important
  color: $color-white !important

.sub-nav .navbar-item.white,
.navbar-item.color--yellow
  background: transparent !important

a.white:hover
  opacity: 0.8
  margin-top: 4px
  color: $color-white !important
  border-bottom: 4px solid $color-white !important

.sub-nav .navbar-item.white:hover
  opacity: 0.8
  color: $color-white !important
  margin-top: 4px
  border-bottom: 4px solid $color-white !important
  background: transparent !important
  padding: 0 12px

.navbar-item.color--yellow:hover
  opacity: 0.8
  color: $color-yellow !important
  margin-top: 4px
  border-bottom: 4px solid $color-yellow !important
  background: transparent !important
  padding: 0 12px

.title.has-text-primary
  text-decoration: none !important
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 30px

.articl-footer
  position: absolute
  bottom: 0
  display: grid
  grid-template-columns: 228px 80px

.date
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  /* identical to box height */
  display: flex
  align-items: center
  color: rgba(33, 33, 33, 0.54)

// Override for use of svg's from https://simpleicons.org/

.blog-list-item.is-featured, .container.white
  background: #fff !important

.notification
  border-radius: 0 !important
  background-color: $color-white !important
  padding: 0 !important

.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

.navbar-item img.logo
  max-height: 100%!important
  position: fixed
  left: 72px
  top: 12px
  width: 54px

.title.post_title
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 32px
  line-height: 40px
  display: flex
  align-items: center
  text-transform: uppercase
  color: #212121

.column.post_column
  max-width: 740px
  padding: 0
  margin: 32px auto
  display: block

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $black-invert
$menu-item-active-background-color:	$black-invert
$menu-list-border-left: 1px solid $black-invert
$menu-label-color: $white-ter

.container.header
  max-width: 100%
  padding: 0 72px 0 200px

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

.sub-nav
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  color: rgba(255, 255, 255, 0.6)

.section-sub-nav
  display: flex
  flex-direction: row
  width: fit-content
  margin: auto

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

.catecory_background
  background: rgba(0, 0, 0, 0.72)
  width: fit-content
  height: 34px
  display: flex
  position: absolute
  top: 0
  left: 0
  padding: 8px 12px
  color: $color-white
  display: flex
  align-items: center
  justify-content: center

@media screen and (min-width: 1024px)
  .navbar
    min-height: 4.25rem !important

.container.white.s__width
  max-width: 1076px
  margin-top: 96px


@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
