@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$black-invert: #fff

//Softcube base schema

$menu-fontsize: 20px
$menu-line-height: 25px
$sub-menu-color: rgba(255, 255, 255, 0.6)
$sub-menu-fontsize: 16px
$sub-menu-line-height: 20px
$main-schem-color-back: linear-gradient(180deg, #151726 5.21%, #0D1549 38.02%, #121527 80.73%)

$color-yellow: #FED300
$color-white: #ffffff

$primary: $black
$primary-invert: $black-invert
$body-color: #12122F
$black: #212121

body
  background: $main-schem-color-back
  font-family: Source Sans Pro
  min-height: 100vh

ul
  display: flex
  align-items: flex-start
  flex-wrap: nowrap
  flex-direction: row

.h1-title
  color: $color-white!important
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 52px
  line-height: 65px
  text-align: center
  letter-spacing: 0.02em
  text-transform: uppercase
  margin-top: 128px

.h2-subtitle
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 25px
  text-align: center
  letter-spacing: 0.02em
  color: rgba(255, 255, 255, 0.84)
  margin-top: 5px

.subNav
  margin-top: 112px

.color--yellow
  color: $color-yellow

.navbar
  background: transparent!important

.navbar .navbar-menu
  box-shadow: none!important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

//Softcube base class

.section.Blog-Post
  padding: 0 !important

.navbar_item
  color: $color-white

.navbar_item
  margin-right: 56px

.column.is-4
  padding: 20px !important

.margin-top-0
  margin-top: 0 !important

.blog-list-item
  height: 370px !important
  overflow: hidden !important
  position: relative

.header.article
  display: block

.container
  padding: 0 115px

.navbar_item
  font-family: Source Sans Pro,sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 36px
  color: #ffffff
  opacity: 0.8

.navbar_item .icon
  color: $primary

.blog-list-item .featured-thumbnail
  flex-basis: 100% !important
  margin: 0 !important
  display: block !important
  height: 170px !important
  overflow: hidden !important

.short-news-container
  padding: 14px
  position: relative
  height: 170px

.read-more
  text-decoration: none !important
  font-size: 2em
  line-height: 0.7em
  text-align: right

a[aria*='page']
  border-bottom: 4px solid $color-white !important
  font-weight: 900 !important
  color: $color-white !important

.sub-nav .navbar_item,
.navbar_item.color--yellow
  background: transparent

.has-text-centered, .section-sub-nav
  display: flex !important
  align-items: center !important
  justify-content: center !important

.section-sub-nav
  height: 45px

.navbar_item:hover
  opacity: 1
  margin-top: 4px
  color: $color-white
  border-bottom: 4px solid $color-white
  background: transparent

.navbar_item.color--yellow
  color: $color-yellow
  margin-top: 4px
  border-bottom: 4px solid $color-yellow

.navbar_item.color--yellow.Sign.Up
  color: $color-yellow
  margin-top: 0
  border-bottom: 0
.navbar_item.color--yellow.Sign.Up:hover
  margin-top: 4px
  border-bottom: 4px solid $color-yellow

.navbar_item.color--yellow:hover
  opacity: 1
  background: transparent

.title.has-text-primary
  text-decoration: none !important
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 30px

.articl-footer
  position: absolute
  bottom: 0
  display: grid
  grid-template-columns: 228px 80px

.date
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  /* identical to box height */
  display: flex
  align-items: center
  color: rgba(33, 33, 33, 0.54)

// Override for use of svg's from https://simpleicons.org/

.blog-list-item.is-featured, .container.white
  background: #fff !important

.blog-list-item.with_background
  background: #12122F !important
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25)
  max-height: 254px

.image_related
  height: 114px !important
  overflow: hidden

.image_related img
  min-width: 100% !important
  height: 100% !important
  width: auto !important
  max-width: inherit !important

.title_related
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 20px
  color: #FFFFFF !important
  text-decoration: none !important

.notification
  border-radius: 0 !important
  background-color: $color-white !important
  padding: 0 !important

.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

.navbar-item img.logo
  max-height: 100% !important
  /* position: fixed */
  /* left: 72px */
  /* top: 12px */
  width: 54px
.navbar-item.logo
  max-height: 100% !important
  position: absolute !important
  left: 72px !important
  top: 12px !important
  width: 54px !important
  padding: 0 !important

.title.post_title
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 32px
  line-height: 40px
  display: flex
  align-items: center
  text-transform: uppercase
  color: #212121
  padding-top: 26px
  text-decoration: none

.column.post_column
  max-width: 740px
  padding: 0
  margin: 32px auto
  display: block

.post_category
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: inline-flex
  align-items: center
  text-decoration-line: underline
  color: rgba(33, 33, 33, 0.8)

.post_related
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 900
  font-size: 32px
  line-height: 40px
  display: flex
  align-items: center
  text-transform: uppercase
  color: #212121

.date.white
  color: $color-white !important

.short-news-container_related
  padding: 14px
  position: relative
  height: 115px

.articl-footer_related
  position: absolute
  bottom: 0
  display: grid
  grid-template-columns: 115px 60px

.social a
  background: transparent !important
  padding: 0 !important
  border-radius: 0 !important
  margin: 0 !important
  width: inherit !important
  height: inherit !important

.social a img
  padding-bottom: 12px !important

.pagination
  width: fit-content !important
  margin: auto !important
  margin-top: 164px !important

.pagination-link, .pagination-next, .pagination-previous
  font-family: Roboto !important
  font-style: normal !important
  font-weight: normal !important
  font-size: 16px !important
  line-height: 19px !important
  /* identical to box height */
  color: #FFFFFF !important
  border: none !important
  border-radius: 0 !important

.pagination-previous
  order: 1 !important
.pagination-link
  order: 2 !important
.pagination-next
  order: 3 !important

.pagination-link.is-current
  background: #FED300 !important
  background-color: #FED300 !important
  border-color: #FED300 !important
  color: #fff !important
  font-family: Roboto !important
  font-style: normal !important
  font-weight: 900 !important
  font-size: 16px !important
  line-height: 19px !important
  /* identical to box height */
  color: #212121 !important

.content ul
  margin: 0 !important

.searchItem
  position: relative
  border: none !important

.searchItem:active,
.searchItem:hover,
.searchItem:focus
  border: none !important
  outline: none !important

.searchItem img
  position: absolute
  left: 17px
  top: 14px

.searchInput
  background: rgba(255, 255, 255, 0.12)
  border: 1px solid rgba(255, 255, 255, 0.62)
  box-sizing: border-box
  border-radius: 60px
  width: 224px
  height: 42px
  padding-left: 44px
  padding-right: 10px
  font-family: Source Sans Pro
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: flex-end
  color: #FFFFFF
  outline: none !important

.searchInput::placeholder
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: flex-end
  color: rgba(255, 255, 255, 0.62)
  opacity: 0.6

footer
  margin-top: 52px !important
.navbar_item.footer
  font-family: Source Sans Pro
  font-style: normal !important
  font-weight: normal !important
  font-size: 16px !important
  line-height: 20px !important
  display: flex !important
  align-items: center !important
  text-align: center !important
  text-decoration-line: underline !important
  color: #FFFFFF !important
  background: none !important
  border: none !important
  padding: 0 32px 0 !important
  white-space: nowrap !important

.menu-list_footer
  display: flex

.copyright
  font-family: Source Sans Pro !important
  font-style: normal !important
  font-weight: 600 !important
  font-size: 16px !important
  line-height: 20px !important
  display: flex !important
  align-items: center !important
  color: #FFFFFF !important
  cursor: none !important
  padding-right: 162px !important
  white-space: nowrap !important

.column.social
  width: 48px !important
  display: flex !important
  flex-direction: column !important
  position: absolute !important
  top: 32px !important
  right: 60px !important

.column.social_footer
  width: 100px !important
  display: grid !important
  grid-template-columns: 55px 55px 55px !important
  padding: 19px !important

.social_footer img
  padding-top: 15px !important

.column.footer_grid
  display: grid !important
  grid-template-columns: 1fr 154px !important

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $black-invert
$menu-item-active-background-color:	$black-invert
$menu-list-border-left: 1px solid $black-invert
$menu-label-color: $white-ter

.container.header
  max-width: 100%
  padding: 0 72px 0 200px

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

.sub-nav
  font-family: Source Sans Pro
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  color: rgba(255, 255, 255, 0.6)

.section-sub-nav
  display: flex
  flex-direction: row
  width: fit-content
  margin: auto
  max-width: 1114px

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

.catecory_background
  background: rgba(0, 0, 0, 0.72)
  width: fit-content
  height: 34px
  display: flex
  position: absolute
  top: 0
  left: 0
  padding: 8px 12px
  color: $color-white
  display: flex
  align-items: center
  justify-content: center

@media screen and (min-width: 1024px)
  .navbar
    min-height: 4.25rem !important

.container.white.s__width
  max-width: 1076px
  margin-top: 68px

@media screen and (min-width: 450px) and (max-width: 1405px)
  .container
    padding: inherit

  ul.menu-list_footer, ul.section-sub-nav
    flex-wrap: wrap-reverse
  ul.menu-list_footer li
    display: block
    width: 100%

  .columns.footer_grid
    display: grid !important
    grid-template-columns: 1fr 185px

  .copyright
    padding: 20px 32px 0 !important


@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

  .navbar-burger
    color: #fff

  .container
    padding: 10px 0
  .container.header
    max-width: 100%
    padding: inherit

  .columns
    margin-left: 10px
    margin-right: 10px

  .navbar-item.logo
    left: 12px !important
    top: 12px !important

  .section-sub-nav
    display: grid
    grid-template-columns: 1fr 1fr 1fr
  a.navbar_item
    cursor: pointer
    display: block
    margin: 0 auto !important

  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 100%
    margin: 0 0 1em
  .articl-footer
    display: grid
    grid-template-columns: 1fr 1fr
    width: 91%
  .column.post_column
    padding: 0 20px

  ul.menu-list_footer, ul.section-sub-nav
    flex-wrap: wrap-reverse
  ul.menu-list_footer li
    display: block
    width: 100%

  .copyright
    padding: 20px 32px 0 !important
  .column.social
    width: auto !important
    flex-direction: row !important
    top: 0 !important
    right: 10px !important

//industries
.industries
  display: grid
  /* align-items: start; */
  width: 100%
  max-width: 1626px
  grid-template-columns: 300px 1fr

.nav-item--title
  font-family: Source Sans Pro
  font-style: normal
  font-weight: bold
  font-size: 32px
  line-height: 40px
  color: rgba(255, 255, 255, 0.6)

.nav-item--title a
  color: rgba(255, 255, 255, 0.6)

.nav-item--title a:hover
  color: rgba(255, 255, 255, 1.0)

.templates-categories-menu
  display: grid

.template-directory-video-grid
  width: calc(100% - 250px)
  display: grid
  flex-grow: 1

.sub-nav-left
    font-family: Source Sans Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
    display: flex
    align-items: center
    text-align: center
    color: rgba(255, 255, 255, 0.6)
    height: 40px

+mobile
  .navbar-burger
    color: #fff

  .container
    padding: 10px 0
  .container.header
    max-width: 100%
    padding: inherit

  .columns
    margin-left: 10px
    margin-right: 10px

  .navbar-item.logo
    left: 12px !important
    top: 12px !important

  .index.Blog
    padding: 0 15px

  .section-sub-nav
    display: grid
    grid-template-columns: 1fr 1fr 1fr
  a.navbar_item
    cursor: pointer
    display: block
    margin: 0 auto !important

  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 100%
    margin: 0 0 1em
  .articl-footer, .articl-footer_related
    display: grid
    grid-template-columns: 1fr 1fr
    width: 91%
  .column.post_column
    padding: 0 20px

  ul.menu-list_footer, ul.section-sub-nav
    flex-wrap: wrap-reverse
  ul.menu-list_footer li
    display: block
    width: 100%

  .copyright
    padding: 20px 32px 0 !important
  .column.social
    width: auto !important
    flex-direction: row !important
    top: 0 !important
    right: 10px !important

  .navbar-menu
    background-color: #000
    box-shadow: 0 8px 16px rgba(33, 33, 33, 0.1)
    padding: 3rem 0
    position: absolute
    width: 100%
    top: 49px
  a.navbar_item:focus, a.navbar_item:focus-within, a.navbar_item:hover, a.navbar_item.is-active
    width: fit-content
    border-bottom: 4px #fff solid
    background: none

  .image_related img
    min-width: 100% !important
    height: auto !important
    width: auto !important
    max-width: inherit !important
