#html__content p img{
    max-height: 400px;
    margin: 16px auto;
    display: block
}
.blog-iframe {

}
iframe {
    margin: auto !important;
}
.blog-iframe {
    text-align: center;
}
@media screen and (max-width: 780px){
    iframe {
        height: inherit !important;
    }
}
